<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
  <body>
    <form action="/" method="POST">
      <input type="radio" name="choice" value="knn" id="knn">
      <label for="knn">KNN Algorithm</label><br>
      <input type="radio" name="choice" value="tree" id="tree">
      <label for="tree">Decision Tree</label><br>
      <input type="radio" name="choice" value="logistic" id="logistic">
      <label for="logistic">Logistic Regression</label><br>
      <input type="radio" name="choice" value="nn" id="nn">
      <label for="nn">Neural Network</label><br>
      <input type="submit" value="Choose algorithm">
    </form> 
  </body>
</html>
